{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block title %}Login{% endblock %}

{% block content %}

  <header class="bg-secondary" style="height: 300px">
    <div class="mx-auto text-center pt-5">
      <h3 class="mb-2 text-white" style="font-size: 54px">Welcome to My Shop</h3>
      <br>
      <p class="mb-10 text-white" style="font-size: large">We sell products for the modern life</p>
    </div>
  </header>
  <br><br>


  <div class="container">
    <div class="row">

      <div class="col-md-3"></div>

      <div class="col-md-7">
        <h1>Login...</h1><br><br>

        <div class="content-section">

          <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
              <legend class="border-bottom mb-4">Sign in</legend>
              {{ form|crispy }}
            </fieldset>
            <div class="form-group">
              <button class="btn btn-outline-info" type="submit">Sign in</button>
            </div>
          </form>

          <div class="border-top pt-3">
              <span class="text-muted">
                Don't have an account? <a class="ml-2" href="{% url 'user:register' %}">Sign up</a>
              </span>
              &#8195;&#8195;&#8195;&#8195;&#8195;
              <span class="text-muted">
                Forgot your password? <a class="ml-2" href="{% url 'user:reset_password' %}">Password reset</a>
              </span>
          </div>

        </div>
      </div>
    </div>
  </div>

{% endblock %}
