{% extends "base.html" %}

{% block title %}Password changed{% endblock %}

{% block content %}

  <header class="bg-secondary" style="height: 300px">
    <div class="mx-auto text-center pt-5">
      <h3 class="mb-2 text-white" style="font-size: 54px">Welcome to My Shop</h3>
      <br>
      <p class="mb-10 text-white" style="font-size: large">We sell products for the modern life</p>
    </div>
  </header>
  <br><br>

  <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-7">
        <h1>Password changed...</h1>
        <p>Your password has been successfully changed.</p>
      </div>
    </div>
  </div>

{% endblock %}
