{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block title %}Reset your password{% endblock %}

{% block content %}

  <header class="bg-secondary" style="height: 300px">
    <div class="mx-auto text-center pt-5">
      <h3 class="mb-2 text-white" style="font-size: 54px">Welcome to My Shop</h3>
      <br>
      <p class="mb-10 text-white" style="font-size: large">We sell products for the modern life</p>
    </div>
  </header>
  <br><br>

  <div class="container">
    <div class="row">
      <div class="col-md-3"></div>

      <div class="col-md-7">

        <h1>Password Reset Confirm</h1>
        {% if validlink %}
          <p>Please enter your new password twice:</p>

          <form action="" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-primary" type="submit">Reset password</button>
          </form>

        {% else %}
          <p>The password reset link was invalid, possibly because it has
             already been used. <br>Please request a new password reset.</p>
        {% endif %}

      </div>
    </div>
  </div>

{% endblock %}
